<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.summersea.mapper.SupplierMapper">
    <select id="selectAll" resultType="top.summersea.entity.Supplier">
        SELECT * FROM supplier;
    </select>

    <insert id="insertSupplier" parameterType="top.summersea.entity.Supplier">
       INSERT INTO `supplier`(`supplier_id`, `supplier_name`, `link_man`, `link_tel`, `link_address`, `fax`, `create_time`, `describe`)
       VALUES (#{supplierId}, #{supplierName}, #{linkMan}, #{linkTel}, #{linkAddress}, #{fax}, #{createTime}, #{describe});
    </insert>

    <update id="updateSupplier" parameterType="top.summersea.entity.Supplier">
        UPDATE `supplier`
        SET
        `supplier_name` = #{supplierName},
        `link_man` = #{linkMan},
        `link_tel` = #{linkTel},
        `link_address` = #{linkAddress},
        `fax` = #{fax},
        `create_time` = #{createTime},
        `describe` = #{describe}
        WHERE `supplier_id` = #{supplierId};
    </update>

    <delete id="deleteSupplier" parameterType="top.summersea.entity.Supplier">
        DELETE FROM `supplier` WHERE `supplier_id` = #{supplierId};
    </delete>
</mapper>